<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/src/css/twilwind.css">
  <script src="/src/js/home.js"></script>
  <title>Home</title>
</head>
<body>
  <div class="container mx-auto">
    <h1>IoT管理中心</h1>
    <div id="devices"></div>
  </div>
</body>
</html>